/*General colors*/
$color-grey-very-light: #f5f0f2;
$color-grey-super-light: #f8f4fc;
$color-grey-super-ultra-light: #f9fbff;
$color-grey-light: #9ea8bb;
$color-grey-normal: #bb1a40;
$color-blue-ultra-light: #53791c;
$color-blue-very-light: #eaf0fd;
$color-blue-light: #d2e0ff;
$color-blue-mid: #ccd7f1;
$color-blue-normal: #1527cd;
$color-red-very-light: #ffe8e8;
$color-red-light: #ffb5b5;
$color-red-normal: #ff6868;
$color-yellow-very-light: #fffae6;
$color-yellow-light: #ffefad;
$color-yellow-normal: #ffcf11;
$color-green-very-light: #e8f9f7;
$color-green-light: #b5ece5;
$color-green-normal: #33dfc8;
$color-purple-very-light: #efecff;
$color-purple-light: #ccc2ff;
$color-purple-normal: #705bfe;
$color-white-very-light: #ffffff;
$color-white-light: #f7f7f7;
$color-white-normal: #e4e4e4;
$color-blue-classroomexample: #00ffee;
$color-default: $color-grey-normal;